@font-face {
    font-family: GeoN;
    src: url(http://cdn.agilitycms.com/scotiabank-peru/fuentes/Geogtq-Rg.otf);
}

@font-face {
    font-family: GeoB;
    src: url(http://cdn.agilitycms.com/scotiabank-peru/fuentes/Geogtq-Sb.otf);
}

@font-face {
    font-family: FrutigerFont;
    src: url(http://cdn.agilitycms.com/scotiabank-peru/fuentes/FrutigerLTStd-Roman.otf);
}

@font-face {
    font-family: FrutigerFontLight;
    src: url(http://cdn.agilitycms.com/scotiabank-peru/fuentes/FrutigerLTStd-Light.otf);
}

@font-face {
    font-family: FrutigerFontBold;
    src: url(http://cdn.agilitycms.com/scotiabank-peru/fuentes/FrutigerLTStd-Bold.otf);
}

body {
    margin: 0;
    padding: 0;
}

.wrapper {
    box-sizing: border-box;
    font-family: FrutigerFont, arial, sans-serif;
    width: 690px;
    padding: 10px;
}

.bg-img {
    background-image: url(../images/vendedor-makro.jpg);
    background-size: cover;
    background-position: center;
    height: 650px;
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
}

.half:first-child {
    background-color: #471855;
    font-size: 0;
    width: 100%;
    overflow: auto;
    box-sizing: border-box;
}

.half:first-child > div:nth-child(2) {
    font-size: 30px;
    text-align: center;
    color: #ffffff;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding: 40px 20px;
    width: 50%;
} 

.half:first-child > div span {
    font-family: GeoB, arial, sans-serif;
    font-size: 32px;
    color: #fde13b;
}

.half:first-child > div p {
    margin-top: 15px;
}

.half:first-child > div img {
    height: 100px;
    margin-bottom: 30px;
}

.half:first-child > div a {
    font-size: 15px;
    text-decoration: none;
}

.half:first-child > div a:hover {
    text-decoration: none;
}

.boton {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    color: white;
    background-color: #f53131;
    padding: 12px 20px;
    box-sizing: border-box;
    width: 70%;
    border-radius: 10px;
    box-sizing: border-box;
}

.boton:last-child {
    margin-bottom: 0;
}

.boton2 {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: white;
    background-color: #f8ba2f;
    padding: 10px 20px;
    box-sizing: border-box;
}

.half:nth-child(2) {
    background-color: #ffffff;
    font-size: 0;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    box-sizing: border-box;
}

.half:nth-child(2) img {
    width: 100%;
}

.half:nth-child(2) a {
    font-size: 16px;
    text-decoration: none;
}

.ozcode{
    font-weight: 50px;
    color : grey;
}

